[package]
name = "cfapprs"
version = "0.1.0"
authors = ["HBX"]
edition = "2021"

[lib]
crate-type = ["staticlib"]

[dependencies]
panic-halt = "1.0.0"
cty = "0.2.2"

[build-dependencies]
bindgen = "0.72.1"

[features]
default = []

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"